<%- include('partials/header'); -%>

<header>
  <div class="">
    <img
      src="/garbage-collection.jpg"
      alt="garbage collection truck"
    />
  </div>
  <div class="headings">
    <h2>WMAR</h2>
    <h3></h3>
  </div>
</header>
<div id="vendor">
  <span>ARE YOU A VENDOR?</span>
  <a href="/vendor/login" class="btn">LOG IN</a>
  <a href="/vendor/signup" class="btn">SIGN UP</a>
</div> 

<div id="company">
  <span>ARE YOU A COMPANY?</span>
  <a href="/company/login" class="btn">LOG IN</a>
  <a href="/company/signup" class="btn">SIGN UP</a>
</div> 

<%- include('partials/footer'); -%>
